.main-landing {
  height: 100vh;
  margin-top: 0;
  display: flex;
  background-color: #3066be;
}

/* START OF STYLING RIGHT SECTION */
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.left-section .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.left-section .content p {
  font-size: 24px;
  color: #eff1f3;
}
.left-section .middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.left-section label {
  font-size: 20px;
  font-weight: bold;
}
/* END OF STYLING RIGHT SECTION */

/* START OF STYLING RIGHT SECTION */
.right-section {
  width: 60%;
  text-align: center;
}
.landing-img {
  width: 100%;
  height: 100%;
}
/* END OF STYLING RIGHT SECTION */

/* START OF POPUP STYLING */
.modal {
  position: absolute;
  top: 25%;
  left: 40%;
}
.modalContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}
.modalContent p {
  margin-bottom: 40px;
  font-size: 18px;
}
.form-group .form-input{
  width:70%;
  border: none;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  height: 50px;
  margin-bottom: 50px;
}
::placeholder{
  font-weight: bold;
  text-transform: uppercase;
}

/* END OF POPUP STYLING */

/* START OF MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  .landing-img {
    display: none;
  }
  .main-landing{
    flex-direction: column;
    justify-content: center;
  }
  .left-section .content{
    height: 80%;
    justify-content: space-around;
  }
  .left-section .content p{
    font-size: 32px;
  }
}
/* END OF MEDIA QUERIES */